body{
font-size:0px;
  font-family:PT Sans,"Arial", serif;
  text-transform: uppercase;
}

.nav {

  width:1200px;

  text-align: center;
  padding-bottom: 5px;
}



.main-navigation li{
  display: inline-block;

}

.mountain{
  text-align: center;
}

.logo{
  width:20px;
  text-align: center;

}
.features{
  width: 1200px;
  margin: 0 auto;
}
.sedona{
  text-align: center;
  padding-top: 100px;
  font-size: 21px;
}

p.sedona{

  font-size: 14px;
  margin-bottom: 30px;
}

.features-item {
  background-color: lightblue;
width: 400px;
display: inline-block;
vertical-align: top;
}

.features-image {

   width: 800px;
    display: inline-block;
}


.text{
  float: right;
  background-color: lightblue;
}
.bluefeachers {
font-size: 21px;
color: white;
}








.column1 {

  width: 100px;
  display: inline-block;





.column2 {

  width: 50px;
  display: inline-block;

}

.column3 {

  width: 50px;
  display: inline-block;
}


ul {
  font-size:14px;
  font-weight:bold;
  color:black;

}

h2 {
  font-size:21px;
  font-weight:bold;
  color:black;
  text-transform: uppercase;

  }

p {
    font-size:14px;
    color:black;

    }

h3 {
        font-size:30px;
        color:black;
        font-weight:bold;

        }
