body{

  font-family:PT Sans,"Arial", serif;
  text-transform: uppercase;
}

.nav {
  width:1200px;
  margin:0 auto;
}

.main-navigation li{
  display: inline-block;
  width: 10%;
}
/* Почему то не отцентровало картинку*/
.mountain {
margin:0 auto;
}

h2 {

  width:1200px;
  margin:  auto;

}

p {

  width:1200px;
  margin:  auto;

}

#perfect {
display: inline-block;
width: 20px;
color: red;
margin:0 auto;


}
ul {
  font-size:14px;
  font-weight:bold;
  color:black;

}

h2 {
  font-size:21px;
  font-weight:bold;
  color:black;
  text-transform: uppercase;

  }

p {
    font-size:14px;
    color:black;

    }

h3 {
        font-size:30px;
        color:black;
        font-weight:bold;

        }

.choice {
  color:lightgray;
  }
